spring:
  application:
    name: medHealthNotifications
  datasource:
    url: jdbc:postgresql://localhost:5401/maildb
    username: mailuser
    password: mailpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    addresses:
    - localhost:5672
    username: rabbituser
    password: rabbitpass
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  devtools:
    restart:
      enabled: true
      poll-interval: 1s
      quiet-period: 400ms
      additional-paths: src/main/java
    livereload:
      enabled: true
    remote:
      restart:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/

server:
  port: 8082
  error:
    include-stacktrace: never

broker:
  queue:
    email-name: medHealthEmailQueue


